@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("https://rawgit.com/elisaCarassai/elisaCarassai.github.io/master/assets/fonts/BasisGrotesquePro-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("https://rawgit.com/elisaCarassai/elisaCarassai.github.io/master/assets/fonts/BasisGrotesquePro-Light.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Ogg";
  src: url("https://rawgit.com/elisaCarassai/elisaCarassai.github.io/master/assets/fonts/OggRoman.otf");
  font-weight: 400;
  font-style: normal;
}
