.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.slideshow--unfinished button.slick-next.slick-arrow {
  display: none !important;
}

.slick-list {
  z-index: 0;
}

.slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 35%;
  display: block;
  /* width: 20px;
  height: 20px; */
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  background: 0 0;
  z-index: 10;
}
.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
  color: transparent;
  outline: 0;
  background: 0 0;
}
.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
  opacity: 1;
}
.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
  opacity: 0;
}
.slick-next:before,
.slick-prev:before {
  font-family: slick;
  font-size: 20px;
  line-height: 1;
  opacity: 0.3;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -5%;
}
[dir="rtl"] .slick-prev {
  /* right: 35px; */
  left: auto;
}
.slick-prev:before {
  content: url("../assets/svg/arrow__white-large-L.svg");
}
[dir="rtl"] .slick-prev:before {
  content: url("../assets/svg/arrow__white-large-L.svg");
}
.slick-next {
  right: 4.16667%;
}
[dir="rtl"] .slick-next {
  right: auto;
  right: 4.16667%;
}
/*mobile styles*/
@media only screen and (max-width: 1440px)  {
  .slick-next {
    right: 1.25%;
  }
  [dir="rtl"] .slick-next {
    right: auto;
    right: 1.25%;
  }
  .slick-prev {
    left: 0;
  }
}
.slick-next:before {
  content: url("../assets/svg/arrow__white-large-R.svg");
}
[dir="rtl"] .slick-next:before {
  content: url("../assets/svg/arrow__white-large-R.svg");
}
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
}
.slick-dots li button:focus,
.slick-dots li button:hover {
  outline: 0;
}
.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: slick;
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: url("../assets/svg/arrow__white-large.svg");
  text-align: center;
  opacity: 0.25;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.3;
  color: #000;
}

/*# sourceMappingURL=slick-theme.min.css.map */

    /* -webkit-user-select: none;

       -moz-user-select: none;

        -ms-user-select: none;

            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -webkit-linear-gradient(top, white, black);
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black); */
