/* General*/
* {
  margin: 0;
  padding: 0;
}

body {
  background: #FFF4EF;
  color: black;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a:focus {
  outline: none;
}
/*Grids and containers*/
.container__grid,
.container__video,
.grid__row,
.grid__divider,
.grid__col--1,
.grid__col--2,
.grid__col--3,
.grid__col--4,
.grid__col--5,
.grid__col--6,
.grid__col--7,
.grid__col--8,
.grid__col--9,
.grid__col--10,
.grid__col--11,
.grid__col--12,
.page__banner  {
	margin: 0 auto;
}

.grid__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.grid__row--fixed {
  background: #FFF4EF;
  position: fixed;
  z-index: 10;
}

.grid__row--titles {
  /*display: table;*/
  line-height: 1.5;
}

/*Use 2400px as 100%, 6x6grid*/
.grid__col {
  position: relative;
}

.grid__col--12,
img,
.container__video {
	width: 100%;
}

.grid__row--switch {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.positionAuto {
  /*hacky overrides*/
  margin-left: 0 !important;
}

.img {
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
}

.img--inline {
  width: auto;
}

.img--spacing {
  padding-right: 35px;
}

.img-svg__white-large {
  height: 57.83px;
  width: 77.78px;
}

/* Container styles */
.container__grid--mid {
  background: #000;
  color: #fff;
}

.container__grid--absolute {
  background: black;
  color: white;
  /*switch from fixed, funky scrolling behaviour for content otherwise*/
  position: absolute;
  -webkit-transition: right 1.5s linear;
  -o-transition: right 1.5s linear;
  transition: right 1.5s linear;
  z-index: 9;
}

.container__grid--replacement {
  background: black;
  width: 100%;
}

.container__header {
  position: absolute;
}

.container__text--foot-right {
  text-align: right;
}

.right {
  /*hacky override*/
  right: 0 !important;
}

.slideshow__controls {
  position: absolute;
  visibility: hidden;
  z-index: 11;
}

.slideshow__controls:hover {
  cursor: pointer;
}

.slideshow__controls--left {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slideshow__controls--right {}

/* Link styles */
a,
a:hover,
a:focus,
.link {
  color: black;
  text-decoration: none;
}

.link {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.link--inverted,
.link--inverted:hover,
.link--inverted:focus {
  color: #fff;
}

.link--serif {
  font-family: "Ogg", serif;
  font-weight: 400;
}

.title--hover {
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.title--hover:hover {
  padding-left: 50px;
  cursor: pointer;
}

.link {
  display: inline;
  position: relative;
  overflow: hidden;
}

.link:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #000;
  height: 2px;
  -webkit-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.link:hover:after,
.link:focus:after,
.link:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.title--underline {
  border-bottom: 5px solid white;
}

/*Img link hover states*/
.img--hover {
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
      margin-left: 0 !important;
}

.img--hover:hover {
  cursor: pointer;
}

/*Typography*/
.title {
  font-size: 110px;
}

.title--serif {
  font-family: "Ogg", serif;
  font-weight: 400;
}

.title--serif-mid {
  font-size: 100px;
}

.title--sans,
.caption,
.text--foot {
  font-family: "Basis Grotesque Pro", sans-serif;
  font-weight: 100;
}

.text--foot {
  font-weight: 400;
  font-size: 20px;
}

.title--sans-head {
  font-size: 95px;
  font-weight: 100;
}

.title--sans-mid {
  font-size: 90px;
  font-weight: 100;
}

.title--about {
  line-height: 1.25;
  font-size: 60px;
}

.title--sans-head {
  margin-bottom: 0;
}

.caption {
  font-size: 25px;
  font-weight: 400;
}

.caption--small-date,
.caption--date {
  font-size: 12.5px;
  font-weight: 100;
  letter-spacing: 1.75px;
  opacity: 0.7;
}

.link--text {
  font-family: "Basis Grotesque Pro", sans-serif;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
}

.link--text--mobile {
  display: none;
}

.li--inline {
  display: inline-block;
}

.nowrap {
  white-space: nowrap;
}

.hide {
  display: none;
}

.nopadding {
  /*hacky override*/
  margin-bottom: -43.75% !important;
  /*margin-top: 0;*/
}

.img-svg__black--small-rotate {
  padding-right: 2.5px;
  padding-left: 10px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.img__soc {
  height: 20px;
  width: auto;
}

/*desktop--small styles*/
@media only screen and (max-width: 1400px)  {
  .title--serif-head,
  .title--serif-mid {
    font-size: 65px;
  }

  .title--sans-head {
    font-size: 65px;
    /* max-width: 710px; */
  }

  .title--sans-mid {
    font-size: 45px;
    letter-spacing: 0.25px;
  }

  .title--serif-mid {
    letter-spacing: 1px;
  }

  .title--about {
    font-size: 45px;
  }

  .link--text {
    font-size: 20px;
  }

  .caption {
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0.1px;
    margin: 6.225% 0;
  }

  .caption--small-date {
    font-size: 10px;
  }

  .text--foot {
    font-size: 15px;
    font-weight: 100;
  }

  .text--foot-bold {
    font-weight: 400;
  }

  .img-svg__white-large {
    height: 30px;
    width: 40.35px;
  }

  .img--spacing {
    padding-right: 20px;
  }

  .img__soc {
    height: 20px;
    width: auto;
  }
}

@media only screen and (max-width: 1024px)  {
  .link--text {
    font-size: 15px;
  }
  .title--sans-head {
    font-size: 45px;
    max-width: 710px;
  }
  .title--serif-head {
    font-size: 50px;
  }
  .title--underline {
    border-bottom: 3px solid white;
  }
  .caption {
    font-size: 12.5px;
  }
  .caption--small-date {
    font-size: 10px;
  }
}

/*mobile styles*/
@media only screen and (max-width: 667px)  {
  /*Grids and containers*/
  .grid__row {
  	-ms-flex-wrap: wrap;
  	flex-wrap: wrap;
  }

  html,
  body,
  .container__grid,
  .container__grid--head,
  .container__grid--mid,
  .container__grid--foot,
  .grid__col--1,
  .grid__col--2,
  .grid__col--3,
  .grid__col--4,
  .grid__col--5,
  .grid__col--6,
  .grid__col--7,
  .grid__col--8,
  .grid__col--9,
  .grid__col--10,
  .grid__col--11,
  .grid__col--12 {
  	width: 100% !important;
  	/* max-width: 667px; */
  }

  .container__header {
    position: initial;
  }

  .container__text--foot-right {
    text-align: left;
  }

  .grid__row--fixed {
    display: none;
  }

  .grid__row--switch .grid__col,
  .grid__row--switch{
    /*hacky override*/
    padding: 0 !important;
    margin: 0 !important;
  }

  .grid__row--switch,
  .container__grid--absolute,
  .title--hover,
  .img--hover,
  .link,
  .link:after {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
  }

  .grid__col {
    margin: 0 !important;
  }

  .grid--nopadding {
    padding: 0 !important;
  }

  /* about section new page */
  #about {
    background: black;
    color: white;
    padding: 10% 0 15%;
  }

  #about .title {
    font-size: 20px;
  }

  .container__grid--foot {
    margin: 12.5% 0;
  }

  /* .container__grid--absolute {
    display: none;
  } */

  .img--spacing {
    padding-right: 10px;
    padding-left: 2.5px;
    vertical-align: -2px;
  }

  .img-svg__black--small {
    height: 16px;
    width: 21.52px;
  }

  .img-svg__white-large {
    height: 30px;
    width: 40.35px;
  }

  .img__soc {
    height: 20px;
    /* absolute value because imgs are different widths */
    padding-bottom: 5px;
    width: auto;
  }

	/*Text styles*/
  .title--articles-mobile {
    margin-top: -70px;
  }

  .title--serif-head {
    font-size: 55px;
  }

  .title--sans-head {
    bottom: 0;
    font-size: 40px;
    position: absolute;
  }

  .title--serif-mid {
    font-size: 45px;
    letter-spacing: 1px;
  }

  .title--sans-mid {
    font-size: 35px;
    letter-spacing: 0.25px;
  }

  .title--underline {
    border-bottom: none;
  }

  .link--text--mobile {
    bottom: 0;
    display: initial;
    font-size: 17.5px;
    font-weight: 100;
    position: absolute;
  }

  .caption {
    font-size: 17.5px;
    letter-spacing: 0.1px;
  }

  .caption--small-date {
    font-size: 12.5px;
  }

  .text--foot {
    font-weight: 100;
    font-size: 17.5px;
  }

  .text--foot-bold {
    font-weight: 400;
  }

  .img--hover:hover {
    margin-top: initial;
    cursor: pointer;
  }

  .mobile__hide {
    display: none;
  }
}
