/* General*/
* {
  margin: 0;
  padding: 0;
}

body {
  background: #FFF4EF;
  color: black;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

/*Grids and containers*/
.container__grid,
.container__video,
.grid__row,
.grid__divider,
.grid__col--1,
.grid__col--2,
.grid__col--3,
.grid__col--3--edge,
.grid__col--6--edge,
.grid__col--4,
.grid__col--5,
.grid__col--6,
.grid__col--7,
.grid__col--8,
.grid__col--9,
.grid__col--10,
.grid__col--11,
.grid__col--12,
.page__banner  {
	margin: 0 auto;
}

.grid__row {
	display: flex;
	padding: 0 4.15%;
}

.grid__row--spacer {
  /* height: 16.6%; */
}

.grid__row--fixed {
  background: #FFF4EF;
  padding-bottom: 4.15%;
  padding-top: 4.15%;
  position: fixed;
  width: 92%;
  z-index: 10;
}

.grid__row--titles {
  /*display: table;*/
  line-height: 1.5;
}

/*Use 2400px as 100%, 6x6grid*/
.grid__col {
  margin: 0 2.07%;
  position: relative;
}

.grid__col--1 {
	width: 8.3%;
	/*max-width: 200px;*/
}

.grid__col--2 {
	width: 16.6%;
	/*max-width: 400px;*/
}

.grid__col--3,
.grid__col--3--edge {
	order: initial;
	width: 25%;
	/*max-width: 600px;*/
}

.grid__col--4 {
	width: 33.3%;
	/*max-width: 800px;*/
}

.grid__col--5 {
	width: 41.6%;
	/*max-width: 1000px;*/
}

.grid__col--6,
.grid__col--6--edge {
	order: initial;
	width: 50%;
	/*max-width: 1200px;*/
}

.grid__col--7 {
	width: 58.3%;
	/*max-width: 1400px;*/
}

.grid__col--8 {
	width: 66.6%;
	/*max-width: 1600px;*/
}

.grid__col--9 {
	width: 74.7%;
	/*max-width: 1800px;*/
}

.grid__col--10 {
	width: 83%;
	/*max-width: 2000px;*/
}

.grid__col--11 {
	width: 91.3%;
	/*max-width: 2200px;*/
}

.grid__col--12,
img,
.container__video {
	width: 100%;
}

.grid__row--switch {
  padding-left: 2.07%;
  transition: 1s;
}

.positionAuto {
  /*hacky overrides*/
  margin-left: 0 !important;
}

.img {
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
}

.img--inline {
  width: auto;
}

/* Container styles */
.container__grid--head {
  /*margin-top: 4.15%;*/
}

.container__grid--mid {
  background: #000;
  color: #fff;
  padding: 8.3% 0;
}

.container__grid--foot {
  margin-top: 8.3%;
  margin-bottom: 4.15%;
}

.container__grid--absolute {
  background: black;
  color: white;
  /*switch from fixed, funky scrolling behaviour for content otherwise*/
  position: absolute;
  transition: right 1.5s linear;
  z-index: 9;
}

.right {
  /*hacky override*/
  right: 0 !important;
}

.slideshow__controls {
  position: absolute;
  visibility: visible;
  z-index: 11;
}

.slideshow__controls--left {
  transform: rotate(180deg);
  left: 2.07%;
}

.slideshow__controls--right {
  right: 2.07%;
}

.hide {
  visibility: hidden;
}


/* Link styles */
a,
a:hover,
a:focus,
.link {
  color: black;
  text-decoration: none;
}

.link {
  transition: 0.5s;
}

.link--inverted,
.link--inverted:hover,
.link--inverted:focus {
  color: #fff;
}

.link--serif {
  font-family: "Ogg", serif;
}

.link--underline {
  border-bottom: 2.5px solid black;
}

.link--underline-inverted {
  border-bottom: 2.5px solid white;
}

.title--hover {
  transition: 0.25s;
}

.title--hover:hover {
  padding-left: 50px;
  cursor: pointer;
}

.link {
  display: inline;
  position: relative;
  overflow: hidden;
}

.link:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #000;
  height: 2px;
  transition-property: width;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
}

.link:hover:after,
.link:focus:after,
.link:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

/*Img link hover states*/
.img--hover {
  transition: 0.25s;
}

.img--hover:hover {
  margin-top: -35px;
  cursor: pointer;
}


/*Typography*/
.title {
  font-size: 110px;
}

.title--serif {
  font-family: "Ogg", serif;
}

.title--serif-head {
  /*margin-top: 29%;*/
  margin-top: 16.55%;
}

.title--serif-mid {
  font-size: 100px;
  /*margin-top: 12.45%;*/
  /*text-decoration: underline;*/
}

.title--sans,
.caption,
.text--foot {
  font-family: "Basis Grotesque Pro", sans-serif;
  font-weight: 100;
}

.title--sans-head {
  font-size: 95px;
  font-weight: 100;
  margin-bottom: 12.45%;
}

.title--sans-mid {
  font-size: 90px;
  font-weight: 100;
  padding: 2.07% 0;
}

.caption {
  font-size: 35px;
  margin: 4.15% 0;
}

.caption--small,
.caption--small-date,
.text--foot {
  font-size: 25px;
}

.caption--small-date,
.caption--date,
.text--foot-right {
  position: absolute;
  right: 0;
}

.link--text {
  font-family: "Basis Grotesque Pro", sans-serif;
  font-size: 30px;
  font-weight: 100;
  font-style: normal;
}

.nowrap {
  white-space: nowrap;
}
